body {
   background-color:darkgrey;
}
div {
background-color: beige;
}
.prvi {
    padding: 20px;
    border: 3px solid;
    color:blue;
    margin: 20px;
}
.drugi {
    padding: 20px;
    border:3px dashed;
    color: grey;
    margin: 20px;
}
.flex {
    display: flex;
}